isodate==0.4.3
django-templatetag-sugar==0.1
uuid==1.30

Django==1.2.5

http://github.com/acdha/django-sugar/tarball/master#egg=django-sugar

http://github.com/acdha/codespeed/tarball/master#egg=codespeed
