{% extends "base.html" %}

{% block title %}Django Speed Center{% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="/ds-media/css/custom.css" type="text/css" charset="utf-8">
{% endblock extra_head %}

{% block logo %}Unofficial Django{% endblock logo %}

{% block footer %}
    <div class="footer">
        <p>An experimental service for the Django community. Contact <a href="mailto:chris@improbable.org">chris@improbable.org</a> / <a href="http://twitter.com/acdha">@acdha</a> with questions</p>
        <p style="font-size: larger">Hosting generously provided by<br/><a style="text-decoration: none; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" href="http://djangozoom.com">django<span style="color: #7CD23E;">zoom</span></a></p>
        <p>Powered by <a href="https://github.com/tobami/codespeed/">Codespeed</a>, <a href="http://www.djangoproject.com/">Django</a> and <a href="http://www.python.org">Python</a></p>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21934297-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock footer %}
