{% extends "base.html" %}

{% block title %}Django Speed Center{% endblock title %}

{% block extra_head %}
  <link rel="stylesheet" href="/ds-media/css/custom.css" type="text/css" charset="utf-8">
{% endblock extra_head %}

{% block logo %}<img src="/ds-media/img/pony-powered.png" width="210" height="65" alt="Pony Powered">{% endblock logo %}

{% block footer %}
  <div class="footer">
    <p>An experimental service for the Django community: other projects will be supported soon. Contact <a href="mailto:chris@improbable.org">chris@improbable.org</a> / <a href="http://twitter.com/acdha">@acdha</a> with questions</p>
    <p>Powered by <a href="https://github.com/tobami/codespeed/">Codespeed</a>, <a href="http://www.djangoproject.com/">Django</a> and <a href="http://www.python.org">Python</a></p>
  </div>
{% endblock footer %}